@charset "utf-8";
*{margin:0px;padding:0px;}
ul,li,ol{list-style:none;}
img{border:none;}
.fl{float:left;}
.fr{float:right;}
.contents{width:1000px;margin:0px auto;overflow: hidden;}
.clear{height:auto;overflow:hidden;zoom:1;}
body{font-size:12px;font-family:simsun;color:#666666;}
a{text-decoration:none;color:#666666;}

/*top css样式*/
.top{height: 30px;background: #f5f5f5;line-height: 30px;}
.top a:hover{text-decoration: underline;}

/*banner css样式*/
.banner{overflow: hidden;height: 200px;}
.banner img{position:relative;left:50%; margin-left:-960px;}

/*12.27 btn css样式添加*/
.banner_btn_pos{z-index: 9999;position: relative;width:1000px;margin:0px auto;}
.banner_btn{position: absolute;top:-180px;right: 0px;z-index: 999;}
.banner_btn a{display: inline-block;width: 75px;height: 25px;margin-left: 10px;}


/*nav css样式*/
.nav{border-top: solid #115ca1 1px;background:#0674c3;height: 50px;line-height: 50px;}
.nav ul li{float: left;}
.nav ul li a{padding: 0 47px;font-size:18px;color: #ffffff;display: block;font-family: "微软雅黑";}
.nav ul li a:hover{background: #FFFFFF;color: #0674c3;}
.nav .on{background: #FFFFFF;color: #0674c3;}

/*con css样式*/
#scrollDiv{width:1000px;height:40px; overflow:hidden;}
.lunbo{height:40px;background: #eff9ff;border: solid #cde0ff 1px;margin: 20px auto;line-height: 40px;}
.lunbo ul li{padding: 0 20px;}
.lunbo ul li span{font-size: 14px; padding-left: 10px;padding-right: 10px;}
.lunbo ul li a{color: #0068f8;padding-left: 5px;}
.lunbo ul li a:hover{text-decoration: underline;}
.red_02{padding-left: 120px;}
.red,.red_02{color: #ff0000;font-weight: bold;}
.lunbo .red_02 a{color: #ff0000;}

.mian_left{width: 230px;}
.list_01,.list_02{border:solid 1px #cccccc;padding-bottom: 5px;margin-bottom: 20px;}
.list_top{height: 36px;background: #eff9ff;line-height: 36px;padding: 0 14px;font-size: 14px;}
.list_top a{color:#0465aa;font-weight: bold;}
.list_top a span{font-weight: normal;font-size: 12px;color: #444444;}
.list_01 ul,.list_02 ul{padding: 5px;padding-bottom: 0px;}
.list_01 ul li{float:left;}
.list_01 ul li a{color: #5888aa;display: block;padding: 5px 4.2px;margin:0 2px;}
.list_01 ul li a:hover{background: #0465aa;color: #FFFFFF;}
.list_on a{text-decoration: none; background:#0674c3;color:#fff;}

.list_02 ul span{display: block;float: left;color: #0674c3;font-weight: bold;padding: 5px;background: #e5f4ff;}
.list_02 ul li{float:left;}
.list_02 ul li a{color: #5888aa;padding: 5px 1.2px;display: block;margin: 0 2px;}
.list_02 ul li a:hover{background: #0465aa;color: #FFFFFF;}

.mian_right{width: 740px;}
.search ul li{float: left;padding-right: 12px;}
.search ul li img{display: block;}
.search ul li span{font-size: 14px;color: #0674c3;}
.search ul li b{padding-left: 120px;color: #444;}
.search ul li b a{color: #ff0000;}
.search ul li input{width: 490px;height: 43px;line-height: 43px;border: 1px #0674c3 solid;border-radius:3px;}
.search ul li p{width: 38px;height: 45px;font-size: 14px;color: #0674c3;background: url(../images/top_icon.png) no-repeat center right;line-height: 20px;}


.hid_list{border:solid 1px #cccccc;margin-top: 10px;}
.hid_list_top{height: 42px;border-bottom:solid 1px #cccccc;}
.hid_list_top ul li{float: left;line-height: 42px;padding-right: 20px;font-size: 14px;color: #333333;}
.hid_list_top .on{color: #0674c3;}
.hid_list_top ul li input{width: 14px;height: 14px;vertical-align: middle;}
.hid_list_top ul{padding-left: 10px;}
.hid_list_con{height: 36px;border-bottom:solid 1px #cccccc;line-height: 36px;}
.hid_list_con p{font-size: 14px;padding-left: 10px;}
.hid_list_con p input{width: 148px;height: 18px;border:solid #0674c3 1px;font-size: 12px;margin-left: 20px;color: #666;}
.hid_list_con p img{vertical-align: middle;width: 20px;height: 20px;padding-bottom: 3px;}
.hid_list_bottom{padding: 10px;}
.hid_list_bottom p{color: #0674c3;}
.hid_list_bottom p span{display: block;float: left;}
.hid_list_bottom p a{color: #0674c3;margin-left: 8px;width: 16px;height: 16px;font-size: 14px;text-align: center;line-height: 16px;display: block;float: left;}
.hid_list_bottom p a:hover{background:#0674c3;color: #FFFFFF;}
.hid_list_bottom ul{padding-top: 20px;}
.hid_list_bottom li{float:left;padding-bottom: 20px;padding-right: 10px;}
.hid_list_bottom input{vertical-align: middle;margin-right: 5px;}
.hid_list_bottom_button{padding-left:296px;}
.hid_list_bottom_button a{width: 52px;height: 24px;line-height: 24px;display: block;float: left;background: #f7f7f7;border: solid #d3d3d3 1px;border-radius: 2px;text-align: center;margin-right: 10px;}
.hid_list_bottom_button .on{background:#0674c3 ;color: #FFFFFF;}

.tab_list{margin-top: 20px;}
.tab_tit .on{border-left: solid 1px #0674C3;border-top: solid 1px #0674C3;border-right: solid 1px #0674C3;border-bottom: none;}
.tab_tit .on a{color: #0068F8;}
/*.tab_tit .fost{width:150px;}*/
.tab_tit ul li{float: left;width: 147.60px;height: 36px;line-height: 36px;text-align: center;border-bottom: solid #0674c3 1px;font-size: 16px;font-family: "微软雅黑";}
.tab_tit ul li a{color: #333333;}
/*.tab_bottom{padding: 20px 38px;border-left: solid 1px #cccccc;border-bottom: solid 1px #cccccc;border-right: solid 1px #cccccc;}*/
.tab_bottom{padding: 20px 38px;border-left: solid 1px #cccccc;border-right: solid 1px #cccccc;}
.tab_bottom ul li{color: #333;}
.tab_bottom ul li a{color: #333;padding-right: 10px;}
.tab_bottom ul li input{width: 160px;height: 30px;border: 1px solid #b7b8b8;}
.tab_bottom ul li a:hover{text-decoration: underline;color: #0674c3;}
.tab_bottom .red_03{color: #ff0000;padding-right: 10px;}
.tab_text{padding-top: 20px;}
.tab_text input{vertical-align: middle;margin-left: 10px;}
.tab_text span{padding-right: 30px;}
.tab_text a:hover{color:#ff0000;}

.tab_bottom_end{padding: 0px 38px 20px 38px;border-left: solid 1px #cccccc;border-bottom: solid 1px #cccccc;border-right: solid 1px #cccccc;}
.tab_bottom_end ul li{color: #333;}
.tab_bottom_end ul li a{color: #333;padding-right: 10px;}
.tab_bottom_end ul li input{width: 160px;height: 30px;border: 1px solid #b7b8b8;}
.tab_bottom_end ul li a:hover{text-decoration: underline;color: #0674c3;}
.tab_bottom_end .red_03{color: #ff0000;padding-right: 10px;}
.tab_text_end{padding-top: 0px;}
.tab_text_end input{vertical-align: middle;margin-left: 48px;}
.tab_text_end span{padding-right: 30px;}
.tab_text_end a:hover{color:#ff0000;}


.table_text{margin-top: 10px;border-right:  solid 1px #cccccc;}
.table_text th{background: #f2f2f2;height: 46px;line-height: 46px;text-align: center;color: #000000;border-top:  solid 1px #cccccc;border-left:  solid 1px #cccccc;}
.table_text td{height: 40px;text-align: center;border-bottom:  solid 1px #cccccc;border-left:  solid 1px #cccccc;}
.table_text td a{color: #0068F8;}
.table_text td a:hover{color: #ff0000;}
.red_04{color: #ff0000;}

.pagination{margin-top: 20px;text-align: center;font-family: Verdana;font-size: 14px;}
.pagination span,.pagination a{display: inline-block;}
.current{padding: 5px 7px;border:solid 1px #999;background: #f03b4b;color: #FFFFFF;}
.pagination .prev{background: #FFFFFF;color: #dbdbdb;border-color:#dbdbdb ;}
.pagination a{padding: 5px 7px;border:solid 1px #999;font-size: 14px;}
.pagination a:hover{background: #f03b4b;color: #E6E6E6;}


/*footer css样式*/
.footer{padding-top: 30px;padding-bottom: 100px;}
.fastNav{border: solid #ccc 1px;padding: 15px;}
.nav_1{padding: 0 18px;}
.nav_1 select{width: 185px;height: 20px;}
.bomLink{text-align: center;padding-top: 20px;}
.bomLink li{display: inline-block;}
.bomLink li a{color: #888888;padding: 0 10px;}
.ft{padding-top: 20px;color: #888888;text-align: center;}
.ft span{padding: 0 10px;}
.ft p img{vertical-align: middle;}
.ft .ghs_icon{padding: 0px;}

/*list css*/
.local_tit{padding-top: 20px;padding-bottom: 10px;}
.local_tit p span {color: #0674c3;}
.mian_list{border: solid #CCCCCC 1px;}
.mian_list_01{text-align: center;border-bottom: solid #CCCCCC 1px;font-family: "微软雅黑";padding-bottom: 30px;}
.mian_list_01 h3{color: #333333;font-size: 30px;line-height: 42px;padding: 30px 0;}
.mian_list_01 p{padding-bottom: 50px;font-size: 14px;}
.mian_list_01 p span{padding:0 50px;}
/*样式修改12.25*/
.digital_label {margin: 0 auto;width: 896px;height: 32px;background:url(../images/digital_label_border.png) no-repeat center center }
.digital_label ul li{float: left;width: 224px;}
.digital_label .digital_label_on{background: url(../images/digital_label_border_on.png) no-repeat center center;}
.digital_label ul li span{width: 32px;height: 32px;background: #d7d7d7;border-radius: 50px;text-align: center;font-family: "微软雅黑";font-size: 22px;line-height: 32px;color: #FFFFFF;display: block;margin: 0 auto;}
.digital_label .digital_label_one{background: #00a0e9;}
.digital_label_text{margin: 0 auto;width: 896px;}
.digital_label_text ul li{float: left;width: 224px;text-align: center;font-size: 14px;font-family: "微软雅黑";color: #333;line-height: 36px;}

.mian_list_02{text-align: center;padding-bottom: 30px;}
.mian_list_02 h3{font-size: 25px;line-height: 42px;padding: 20px 0;font-family: "微软雅黑";color: #333333;}
.mian_list_02 p span{padding: 0 20px;color: #999999;}
.mian_list_02 p a{color: #999999;}
.mian_list_02 p a:hover{text-decoration: underline;}
.mian_list_02 .link_01{color: #005dac;text-decoration: underline;}
.mian_list_02 img{vertical-align: middle;}
.mian_list_03{padding: 0 16px;}
.tit_bt1{font-size: 18px;font-family: "微软雅黑";color: #333333;padding-bottom: 20px;}
.tit_bt1 p img{padding-left: 24px;vertical-align: middle;}
.mian_list_04{padding: 30px 16px 10px 16px;}
.mian_list_04_text{font-size:14px ;color: #666666;padding-left: 30px;padding-top: 20px;}
.mian_list_05{border-top: solid #CCCCCC 1px;background: #f7f7f7;padding: 20px;16px}
.mian_list_05 h3{color: #333333;font-size: 18px;font-family: "微软雅黑";font-weight: normal;}
.mian_list_05 ul{padding-top: 10px;}
.mian_list_05 ul li{line-height: 32px;background: url(../images/dian_icon.png) no-repeat center left;padding-left: 15px;height:auto;overflow:hidden;zoom:1;}
.mian_list_05 ul li a{color: #005dac;float: left;}
.mian_list_05 ul li a:hover{text-decoration: underline;}
.mian_list_05 ul li span{display: block;float: right;color: #999999;}


/*list_02 css*/
/*12.25添加*/
.Publish_information_top h3{font-family: "微软雅黑";font-size: 30px;color: #333333;line-height: 32px;font-weight: normal;text-align: center;padding-top: 50px;padding-bottom: 30px;}
.Publish_information_top p{font-family: "微软雅黑";font-size: 18px;color: #666666;line-height: 38px;}
.Publish_information_text{text-indent:2rem;}

/*12.26添加*/
.Publish_information_text_download{padding-top: 10px;}
.Publish_information_text_download p span{font-size: 14px;color: #333333;padding: 0 10px;}
.Publish_information_text_download p a{font-size: 14px;color: #0052f6;}
.Publish_information_text_download p a:hover{text-decoration: underline;}

.Publish_information_bottom{padding-top: 120px;}
.Publish_information_bottom ul{margin-right: -20px;}
.Publish_information_bottom ul li{float: left;padding-right: 20px;}

/* list_03 css*/
.Release_medium_table{margin-top: 30px;border-left: solid #ececec 1px;border-top: solid #ececec 1px;}
.Release_medium_table tr th{background: #d4eef0;height: 40px;font-size: 14px;color: #333333;line-height: 40px;border-right: solid #FFFFFF 1px;border-bottom: solid #ececec 1px;text-align: center;}
.Release_medium_table tr td{height: 40px;color: #666666;font-size: 13.5px;line-height: 25px;border-right: solid #ececec 1px;border-bottom: solid #ececec 1px;text-align: center;}
.Release_medium_table tr td a:hover{color: #0674c3;cursor: pointer;}
.Release_medium_table .Release_medium_table_highlighted{background: #dbf8fa;}

/*list_04 css*/
.mian_guide_top{text-align: center;padding: 20px 0;border-bottom: solid #d6d6d6 1px;}
.mian_guide_top h3{width: 700px;margin: 0 auto;font-size: 30px;font-family: "微软雅黑";color: #333333;line-height: 60px;font-weight:normal;}
.mian_guide_bottom{padding: 20px;}
.mian_guide_bottom p{font-size: 14px;color: #666666;line-height: 32px;font-family: "微软雅黑";text-indent: 2rem;padding-bottom: 14px;}


/*list_05 css*/
.mian_consulting{padding: 40px 30px;}
.mian_consulting_left{width: 272px;}
.mian_consulting_left_top{padding-bottom: 14px;border-bottom: solid #e9e9e9 1px;}
.mian_consulting_left h3{font-family: "微软雅黑";font-size: 18px;color:#333333;font-weight: normal;background: url(../images/consulting_icon.png) no-repeat center left;padding-left: 35px;}
.mian_consulting_left_center p{font-size: 14px;color: #999999;line-height: 32px;}
.mian_consulting_left_center{padding-top: 10px;}
.mian_consulting_left_center .lele_bold{font-weight: bold;}
.mian_consulting_left_center p span{color: #666666;}
.mian_consulting_left_bottom{width: 192px;margin: 0 auto;}
.mian_consulting_left_bottom p{font-size: 14px;color: #999999;line-height: 30px;padding-bottom: 10px;}
.mian_consulting_left_bottom p span{color: #666666;}
.mian_consulting_left_bottom img{display: block;}

.mian_consulting_right{width: 580px;border-left: solid #cbcbcb 1px;padding-left: 42px;}
.mian_consulting_right_top{border-bottom: solid #e9e9e9 1px;padding-bottom: 6px;}
.mian_consulting_right_top h3{font-family: "微软雅黑";font-size: 24px;color:#333333;font-weight: normal;background: url(../images/consulting_icon_02.png) no-repeat center left;padding-left: 30px;}
.mian_consulting_right_bottom p{font-size: 12px;color: :#666666;line-height: 28px;border-bottom: dashed #cbcbcb 1px;padding:14px 5px;}



